/* ========== SIDEBAR ========== */
.sidebar {
    order: 2;
    width: clamp(15.625rem, 25vw, 18.75rem);


    .sections {
        margin-bottom: clamp(1rem, 3.5vw, 4rem);
    }


    .subtitle {
        gap: 15px;
        display: flex;
        font-weight: 600;
        align-items: flex-start;
        color: var(--white4-color);
        font-size: clamp(14px, 15vw, .95rem);
        margin-bottom: clamp(0.75rem, 1.1vw, 2rem);
        border-bottom: 1px solid var(--greys6-color);
        
        
        span{
            border-right: 1px solid var(--greys6-color);
            padding: 0rem .7rem .2rem 0rem ;
        }


        svg {
            width: 1.4rem;
            height: 1.4rem;
            color: var(--prime1-color);
        }
    }


    .subsider {

    }
}
