/** COMPONENT **/
header{
    margin: 0.625rem 0;
    margin-top: 0;

    .ml-a{
        margin-left: auto;
    }

    #brand, .wrap{
        display: flex;
	    align-items: center;
    }

    #brand .logo{
        width: 3rem;
        height: 3rem;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        display: flex;
	    align-items: center;
    }

    nav{
        margin-bottom: 0.625rem;
    }

    #darkmodes {
        margin-right: 0.938rem;

        .modes{
            display: flex;
            align-items: center;
            margin-top: 0.313rem;
            position: relative;
            height: 1.875rem;
        }

        .mode{
           width: 100%;
        }

        .icon.open{
            width: auto;
            min-width: 1.875rem;
            opacity: 1;
            transition: 200ms;
        }

        .icon{
            width: 0;
            min-width: 0;
            opacity: 0;
            margin-right: 0;
        }
    }

    #hamburger {
        display: block;
        position: relative;
        top: 0.625rem;
        left: 0rem;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        input:checked ~ ul {
            transform: none;
        }

        a {
            text-decoration: none;
            color: #232323;
            transition: color 0.3s ease;
        }

        a:hover {
            color: tomato;
        }

        input {
            display: block;
            width: 2.5rem;
            height: 2rem;
            position: absolute;
            top:-0.438rem;
            right: 0rem;
            cursor: pointer;
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            -webkit-touch-callout: none;
        }

        span {
            display: block;
            width: 1.438rem;
            height: 0.125rem;
            margin-bottom: 0.313rem;
            position: relative;
            background: #fff;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }

        span:first-child {
            transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-15px, -13px);
            background: #fff;
        }

        input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked ~ span:nth-last-child(2) {
            margin-top: 20px;
            transform: rotate(-45deg) translate(0, -1px);
        }
    }
}

header .menu{
    margin-left: auto;
}

header ul{
    margin-block-end: 0;
}

header li{
    margin-left: 1rem;
}

main{
    min-height: calc( 100vh - 20.016rem );
}